body{
    margin: 0px;
}
header{
    background-color: #f2f2f2;
}
#user , #dot {
    height: 30px;
    width: 30px;
}
a{
    text-decoration: none;
    margin-inline: 5px;
    align-items: center;
}
a:hover{
    text-decoration: underline;
}
.navh{
    display: flex;
    justify-content: space-between;
}
.nav-r{
    display: flex;
    align-items: center;
}
.nav-l{
    padding-left:10px;
}
#d1{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius:20px;
}
#d1:hover{
        box-shadow: 0 0 5px 0px black;    
}
#Search{
    margin-right: 10px;
    height: 30px;
    width: 32px;
}
#Mic{
    margin-left: 10px;
    height: 30px;
    width: 20px;
}
#S2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10%;
}
#d1>input{
    flex-grow: 1;
    border: none;
    outline: none;
    }  
    input{
    font-size: larger;
    }
#d2{
    position: relative;
    left: 80px;
    margin-top: 20px;
}
h1{
    font-size: 5.5em;
}
#GL{                                /* id for Google Logo */
    height: 30%;
    width: 30%;
}
img[id="GL"]{
cursor:default;
}
img{
    cursor:pointer;
}
.bt{                                       /* bt for  button */
    background-color: #faf9fa;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
    height: 30px;
    margin: 0 4px;
}
.bt:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 0px black;    
}
nav{
    display: flex;
    justify-content: space-between;
}
footer{
    margin-top: 425px;
    background-color: #f2f2f2;
    bottom:0px;
}